@import url();

:root {
    /* primary colors */
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    /* neutral */
    --dark-gray: hsl(0, 0%, 59%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: var(--dark-cyan); 
    background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -80% 50%, 180% -30%;

    /* can be written like this as well
    background-image: url(./images/bg-pattern-top.svg) no-repeat -80% 50%,
    url(./images/bg-pattern-bottom.svg) no-repeat 180% -30%; */
} 

body {
    font-family: sans-serif;
    font-size: 18px;            /* stats and name */
    line-height: 1.6em;
}








































/* Feel free to remove these styles or customise in your own stylesheet 👍 */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}